.contenidor-popup {
    height: 100%;
}

.camp {
    width: 45%
}

svg:hover {
    color: #198754;
}

.mat-calendar-body-cell.selected
{
  background-color:#198754!important;
  border-radius: 50%
}
.drop-calendar
{
  width:30rem
}
.calendari {
  max-height: 300px;
  overflow-y: auto;
  width: 90%;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
