<div class="contenidor d-flex flex-column justify-content-around h-100">
  <div class="text-center">
    <h1>Modificar Remolc</h1>
  </div>
  <form [formGroup]="options" class="h-75 d-flex flex-column justify-content-around align-content-center align-items-center" (ngSubmit)="submitForm()">
      <div class="camps d-flex justify-content-around w-75">
          <mat-form-field [hideRequiredMarker]="hideRequiredControl.value" class="w-100">
              <mat-label>Matricula</mat-label>
              <input required matInput [formControl]="matriculaControl">
              <mat-error *ngIf="matriculaControl.hasError('required')">Es requereix el camp</mat-error>
              <mat-error *ngIf="matriculaControl.hasError('pattern')">La matricula ha de tenir 4 números seguits de 3 lletres</mat-error>
          </mat-form-field>
      </div>

      <div class="calendari w-75 justify-content-center">
        <mat-form-field class="w-100">
          <ngx-multiple-dates [matDatepicker]="pickerPredefined" placeholder="Dies no disponibles"
          name="diesNoDisponibles"
          [min]="dataService.getDataAvui()"
          [formControl]="reactiveControl">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerPredefined"></mat-datepicker-toggle>
          <mat-datepicker #pickerPredefined></mat-datepicker>
          <button class="btn btn-primary w-100" type="button" (click)="actualizarNoDisponible()">Actualitzar</button>
        </mat-form-field>
      </div>

      <!-- Mostrar mensaje de éxito -->
      <div *ngIf="enviado === true" class="mensaje-exito text-center text-success">
          El formulario se ha enviado correctamente.
      </div>

      <!-- Mostrar mensaje de error -->
      <div *ngIf="enviado === false" class="mensaje-error text-center text-danger">
          Ha ocurrido un error al enviar el formulario. Por favor, inténtalo nuevamente.
      </div>

      <div class="text-center d-flex flex-row justify-content-around w-100">
          <button mat-raised-button color="primary" type="submit" class="btn btn-success w-50">Enviar</button>
          <button mat-raised-button class="btn btn-danger w-25" (click)="submitDelete()">Eliminar</button>
      </div>
  </form>
</div>
