.contenidor, table {
    width: 100%;
}

table {
    text-align: center;
}

table, th, td {
    border: 1px solid gainsboro;
}

div table tr td svg {
  margin: 0 20px;
}

div table tr td svg:hover {
    color: green;
}
