.contenidor, table {
    width: 100%;
}

table {
    text-align: center;
}

table, th, td {
    border: 1px solid gainsboro;
}

.verde {
  color: green;
  background-color: rgb(155, 228, 155);
}

.chevron {
  display: none;
}

td:hover .chevron {
  display: inline;
}
