.contenidor, table {
    width: 100vw;
    border-bottom: 1px solid black;
}

table {
    text-align: center;
}

table, th, td {
    border: 1px solid gainsboro;
}

.xofer {
    width: 10vw;
}

tr {
  display: flex;
  flex-direction: row;
}

td, th {
  width: 10vw;
}

.rutas {
  width: 40vw;
}

.pipe {
  font-weight: 800;
}

.azul {
  color: rgb(40, 155, 231);
}
