.contenidor, table {
    width: 100vw;
    border-bottom: 1px solid black;
}

table {
    text-align: center;
}

table, th, td {
    border: 1px solid gainsboro;
}

.xofer {
    width: 8vw;
}

tr {
  display: flex;
  flex-direction: row;
}

td, th {
  width: 8vw;
}

.rutas {
  width: 35vw;
}

.pipe {
  font-weight: 800;
}

.azul {
  color: rgb(0, 162, 255);
}

.primer-viaje .viaje:first-child {
  color: rgb(0, 162, 255);
}

.ultimo-viaje .viaje:last-child {
  color: rgb(0, 162, 255);
}

.marcado, .marcado span {
  background-color: green !important;
  color: white !important;
}

.rutas div {
  transition: margin-top 2s ease;
  transition: background 2s ease;
  transition: text-decoration 2s ease;
}

.editando {
  margin-top: 5px;
  text-decoration: underline;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  padding: 3px;
}

.sin_camion {
  background-color: rgb(250, 250, 177);
  pointer-events: none;
}

.sin_camion_xofer {
  background-color: rgb(250, 250, 177);
}

.no_disponible {
  background-color: rgba(218, 218, 218, 0.616);
  pointer-events: none;
}

.no_disponible_xofer {
  background-color: rgba(218, 218, 218, 0.616);
}

.sin_camion .xofer, .no_disponible .xofer {
  pointer-events: auto;
}

.viaje {
  animation: entrar 0.5s ease;
}

@keyframes entrar {
  from {opacity: 0;}
  to {opacity: 1;}
}

.icones {
  width: 3vw;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
