<div class="contenidor">
    <table>
        <tr>
            <th>Xofer</th>
            <th class="rutas">Viatges</th>
            <th class="rutas">Viatges</th>
            <th>Accions</th>
        </tr>
        <tr *ngFor="let xofer of xofers">
            <td class="xofer" (click)="openDialog(xofer)">{{ xofer.nom }}</td>
            <td class="d-flex flex-row rutas flex-wrap">
              <div *ngFor="let ruta of xofer.ruta">
                <span *ngFor="let avui_x_avui of ruta.avui_x_avui">
                  | {{ avui_x_avui.id_direccio_origen.poblacio }} - {{ avui_x_avui.id_direccio_desti.poblacio }} |
                </span>
                <span *ngFor="let anada of ruta.anada">
                  | {{ anada.id_direccio_origen.poblacio }} - {{ anada.id_direccio_desti.poblacio }} |
                </span>
                <span *ngFor="let tornada of ruta.tornada">
                  | {{ tornada.id_direccio_origen.poblacio }} - {{ tornada.id_direccio_desti.poblacio }} |
                </span>
              </div>
            </td>
            <td class="rutas"></td>
            <td class="d-flex justify-content-around">
              <button type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg></button>
              <button type="button" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg></button>
              <button type="button" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg></button>
            </td>
        </tr>
    </table>
</div>
